{% extends 'base.html' %}



{% block main %}
<div class="welcome">
  <h1 class="title">ようこそDjangoBlogへ</h1>
  <a href="{% url 'blog/create'%}" class="btn btn-primary">Blogを書く</a>
</div>
{% if blog_list %}
<table class="table">
  <thead>
    <tr>
      <th>user</th>
      <th>text</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for blog in blog_list %}
    <tr>
      <td>{{ blog.user }}</td>
      <td><a href="{% url 'blog/detail' blog.pk %}">{{blog.text }}</a></td>
      <td> 
        <a href="{% url 'blog/update' blog.pk %}" class="btn btn-primary btn-sm">Edit</a>
        <a href="{% url 'blog/delete' blog.pk %}" class="btn btn-danger btn-sm">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>Blogはまだ投稿されてません</p>
{% endif %}
{% endblock %}
